.intro_box_wrapper {
  width: 1102px;
  height: 200px;
  margin: 170px auto;
}

.intro_title {
  width: 532px;
  height: 200px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */

  color: #ffffff;
}

.nav_spn {
  width: 532px;
  height: 200px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */

  color: #f67e7e;
}

.intro_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro_text {
  width: 432px;
  height: 112px;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  color: #ffffff;
}
